tokens.env

*.coverage
/htmlcov
*/.cache
/.mypy_cache
/.pytest_cache
/.cache
*/.mypy_cache
*/.pytest_cache
*.idea
*/build
*/dist
/build
/dist
*/data
*/htmlcov

*.pyc
*.h5
__pycache__
myvenv
local_settings.py
db.sqlite3
/static
.DS_Store
