tokens.env
bsl.env
pipfile.lock
poetry.lock
.ipynb_checkpoints

.env
*.env

dist
*/**/dist
build
*/**/build
data
*/**/data

.mypy_cache
.pytest_cache
*.coverage
htmlcov
*/**/.cache
*.idea

nimcache/
*.pyc
*.h5
__pycache__
nimcache/
myvenv
local_settings.py
db.sqlite3
/static
.DS_Store
