[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pip = "*"
pipenv = "*"
cython = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
pytest-sugar = "*"
pytest-xdist = "*"
pylama = "*"
mccabe = "*"
autopep8 = "*"
flake8 = "*"
pdbpp = "*"
pytype = "*"

[packages]
flask = "*"
numpy = ">=1.17.2"
pygame = "*"
pyside2 = "*"
cython = "*"
opencv-python = "*"
matplotlib = "*"
keras = "*"
sklearn = "*"
typing-extensions = "*"
pillow = "*"
imutils = "*"
pysmartthings = "*"
python-dotenv = "*"
django = "*"
bottle = "*"
mutagen = "*"
jinja2 = "*"
boltons = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-login = "*"
flask-mail = "*"
pysimplegui = "*"
pyyaml = ">=4.2"
sqlalchemy-stubs = "*"
termcolor = "*"
rapidtables = "*"
colorama = "*"
ordered-set = "*"
ordered-set-stubs = "*"
func-timeout = "*"
toolz = "*"
cytoolz = "*"
moshmosh-base = "*"

[requires]
python_version = "3.7.3"
