[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pip = "*"
pipenv = "*"
cython = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
pytest-sugar = "*"
pytest-xdist = "*"
pylama = "*"
mccabe = "*"
autopep8 = "*"
flake8 = "*"
pdbpp = "*"

[packages]
flask = "*"
numpy = "*"
pygame = "*"
pyside2 = "*"
cython = "*"
opencv-python = "*"
matplotlib = "*"
keras = "*"
sklearn = "*"
typing-extensions = "*"
pillow = "*"
imutils = "*"
pysmartthings = "*"
python-dotenv = "*"
django = "*"
bottle = "*"
mutagen = "*"
jinja2 = "*"
faster-than-requests = "*"

[requires]
python_version = "3.7"
