[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"kivy.deps.angle" = "*"
"kivy.deps.glew" = "*"
"kivy.deps.gstreamer" = "*"
"kivy.deps.sdl2" = "*"
Kivy = "*"
python-dotenv = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-sugar = "*"
pytest-xdist = "*"
flake8 = "*"
pylama = "*"
mypy = "*"
autopep8 = "*"
pyinstaller = "*"
pipenv = "*"
pip = "==18.0"
python-for-android = "*"  # linux only
sh = "*"                  # linux only

[requires]
python_version = "3.7"
