[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
Flask = "*"
flask-babel = "*"
flask-bootstrap = "*"
flask-moment = "*"
Flask-Migrate = "*"
Flask-SQLAlchemy = "*"
Flask-WTF = "*"
flask-login = "*"
flask-admin = "*"
flask-mail = "*"
Jinja2 = "*"
SQLAlchemy = "*"
Werkzeug = "*"
pyjwt = "*"
requests = "*"
guess-language-spirit = "*"
elasticsearch = "*"
rq = "*"
celery = "*"
flask-rq2 = "*"
flask-httpauth = "*"

[dev-packages]
autopep8 = "*"
coverage = "*"
mypy = "*"
sqlalchemy-stubs = {git = "https://github.com/dropbox/sqlalchemy-stubs"}
pipenv = "*"
pydocstyle = "*"
pylama = "*"
pytest = "*"
httpie = "*"
pytest-coverage = "*"
pytest-flask = "*"
flake8 = "*"

[requires]
python_version = "3.6"
