[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
Flask = "*"
flask-bootstrap = "*"
flask-moment = "*"
Flask-Migrate = "*"
Flask-SQLAlchemy = "*"
Flask-WTF = "*"
flask-login = "*"
flask-admin = "*"
flask-mail = "*"
Jinja2 = "*"
SQLAlchemy = "*"
Werkzeug = "*"
pyjwt = "*"
flask-babel = "*"
requests = "*"
guess-language-spirit = "*"

[dev-packages]
autopep8 = "*"
coverage = "*"
mccabe = "*"
mypy = "*"
pipenv = "*"
pycodestyle = "*"
pydocstyle = "*"
pyflakes = "*"
pylama = "*"
pytest = "*"
pytest-coverage = "*"
pytest-flask = "*"

[requires]
python_version = "3.6"
